@using ScorePrediction.Web.Models.Domain
@model Team

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Create">
    <section class="py-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 sm-margin-30px-bottom">
                <div class="blog-style5">

                    <div class="section-heading left mb-4">
                        <div class="row">
                            <div class="col-lg col-md">
                                <h4 class="text-capitalize">Create Tournament</h4>
                            </div>
                            <div class="col-lg-auto col-md-auto">
                            </div>
                        </div>
                    </div>

                    <div class="blog-grids">

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="Logo" class="control-label"></label>
                                    <input asp-for="Logo" class="form-control" />
                                    <span asp-validation-for="Logo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-auto col-md-auto">
                                        <div class="form-group">
                                            <a class="btn btn-success" asp-action="ManageList">
                                                <span><i class="fas fa-arrow-circle-left margin-5px-right"></i> Back to List</span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-auto col-md-auto">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

@section Scripts {
    @{
        // await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <partial name="_ValidationScriptsPartial" />
    }
    }
